################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/python/copilot-chat/c2a808ec/sessions/29ed8d43-d821-4f26-a902-493a431ff71c
/.vs/python/CopilotIndices/17.13.441.19478
/.vs/python/FileContentIndex
/.vs/python/v17
